/* line 1, _top-bar.scss */
.no-js .top-bar {
  display: block;
}

/* line 5, _top-bar.scss */
.no-js .title-bar {
  display: none;
}

/* line 13, _top-bar.scss */
.top-bar {
  height: 5em;
  padding-right: 5em;
}

/* line 19, _top-bar.scss */
.title-bar,
.top-bar, li {
  background-color: #333b48;
}

/* line 23, _top-bar.scss */
#logo {
  height: 2em;
  width: 3em;
  margin: .5em .25em .5em 1em;
}

/* line 29, _top-bar.scss */
.medium.button {
  background-color: #333b48;
  margin-top: 1em;
  margin-right: .2em;
  outline: none;
  border-radius: .25em;
}

/* line 38, _top-bar.scss */
.medium.button.active,
.button:hover {
  background-color: #5ebdeb;
  border-radius: .25em;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 45, _top-bar.scss */
  .title-bar {
    height: 3em;
  }

  /* line 48, _top-bar.scss */
  #logo {
    display: none;
  }

  /* line 51, _top-bar.scss */
  .top-bar {
    width: 20em;
  }

  /* line 54, _top-bar.scss */
  #top-menu {
    padding-right: 0;
  }

  /* line 57, _top-bar.scss */
  .menu li {
    display: block !important;
    width: 20em;
    float: left;
  }

  /* line 62, _top-bar.scss */
  .medium.button {
    margin-top: 0;
    margin-right: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  /* line 73, _top-bar.scss */
  .medium.button,
  .medium.button.active,
  .button:hover {
    border-radius: 0;
  }
}
@media screen and (max-width: 39.9375em) {
  /* line 81, _top-bar.scss */
  .title-bar {
    height: 3em;
  }

  /* line 84, _top-bar.scss */
  #logo {
    display: none;
  }

  /* line 87, _top-bar.scss */
  #top-menu {
    padding-right: 2em;
  }

  /* line 90, _top-bar.scss */
  .is-drilldown {
    background-color: #333b48;
    margin-left: -1em;
  }

  /* line 94, _top-bar.scss */
  .menu.drilldown {
    width: 20em;
  }

  /* line 97, _top-bar.scss */
  .medium.button {
    margin-top: 0;
    margin-right: 0;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  /* line 106, _top-bar.scss */
  .medium.button,
  .medium.button.active,
  .button:hover {
    border-radius: 0;
  }
}
