
html{
	height: 100%;
	min-height: 100%;
	outline: none;
}
body{
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
    outline: none;
	font-family: 'Open Sans', sans-serif;
	color: #61666D;
}

//Header Span Lines
.lined-header span {
  display: inline-block;
  position: relative;  
}

.lined-header span:before {
	right: 100%;
	margin-right: 1em;
}
.lined-header span:after {
 	left: 100%;
 	margin-left: 1em;
 }
 @mixin header-p{
 	font-size: .85em;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-align: center;
 }
 // Header Paragraphs
.grey-header-p{
	@include header-p;
}
.white-header-p{
	@include header-p;
	color: #fff;
}
 
@import "compass";
@import 'partials/_top-bar';
@import 'partials/_slider.scss';
@import 'partials/_about-recent.scss';
@import 'partials/_teams.scss';
@import 'partials/_see-our-work.scss';
@import 'partials/_services.scss';