
#about{
	text-align: center;
	margin: 0 auto;
	height: 45em;
}
#aboutHeader{
	margin-top: 3em;
	width: 8em;
	border: 2px solid #1DA1E1;
	border-radius: .15em;
	color: #1DA1E1;
	letter-spacing: .2em;
}
.features-row{
	height: 5em;
	
}
