$blue-accent: #1DA1E1;
@mixin blue-header($width){
		margin-top: 2em;
		width: $width;
		border: 2px solid $blue-accent;
		border-radius: .15em;
		color: $blue-accent;
		letter-spacing: .2em;
		font-weight: 600;
		text-align: center;
}
@mixin white-header($width){
		// margin-top: 2em;
		width: $width;
		border: 2px solid #fff;
		border-radius: .15em;
		color: #fff;
		letter-spacing: .2em;
		font-weight: 600;
		text-align: center;
}

@mixin span-settings-blue{
		content: "";
		position: absolute;
	  	height: 5px;
	  	margin-top: .5em;
	  	border-bottom: 3px solid $blue-accent;
	  	top: 0;
	  	width: 1.5em;
}
@mixin span-settings-white{
		content: "";
		position: absolute;
	  	height: 5px;
	  	margin-top: .5em;
	  	border-bottom: 3px solid #fff;
	  	top: 0;
	  	width: 1.5em;
}
//Header Span Lines
.lined-header span {
  display: inline-block;
  position: relative;  
}

.lined-header span:before {
	right: 100%;
	margin-right: 1em;
}
.lined-header span:after {
 	left: 100%;
 	margin-left: 1em;
 }
// About cotainer
#about{
	text-align: center;
	margin: 0 auto;
	height: 35em;
}
//About Header
#about-header{
	@include blue-header(8em);

}
#about-header.lined-header span:before,
	.lined-header span:after {
	@include span-settings-blue;
}


//http://www.flaticon.com/packs/web-design-set <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
// About Row
#about-row{
	height: 15em;
	width: 100%;
	margin: 2em auto;
}
// Callouts/ Individual squares
.callout{
	height: 18em;
	width: 15em;

}
// Image containers for Grey circles
.img-container{
	width: 10em;
  	height: 10em;
  	background-color: #ddd;
  	border-radius: 6em;
  	margin: 0 auto;

}
// Icons position and size
.features-row{
	position: relative;
	width: 6em;
  	height: 6em;
  	margin: 2em auto 0 auto;
}
// Descriptions
.callout-p{
	
	margin-top: 2em;
	margin-left: -1em;
	width: 12em;
	font-size: 1.1em;
	color: #4D585C;
	font-size: 1.2em;

}
// Special styles for HTML logo
#html{
	height: 8em;
	width: 8em;
	margin-top: .75em;
}

// -------------------------- About Section Media Queries-------------

// Small and Medium Screen
@media screen  and (max-width: 63.9375em) {
	#about{
		height: 24em;
		width: 100%;
		margin-top: 1em;
	}
	div#about-row.row{
		margin: 0;
		padding: 0;
	}
	div.small-6.medium-6.large-3.columns{
		padding:.1em;
	}
	// Callouts/ Individual squares
	.callout{
		height: 10em;
		width: 11em;
		margin-bottom: .1em;
		padding: .5em;

	}
	// Image containers for Grey circles
	.img-container{
		width: 5.5em;
	  	height: 5.5em;
	}
	// Icons position and size
	.features-row{
		width: 4em;
	  	height: 4em;
	  	margin: .75em  0 ;
	}
	// Descriptions
	.callout-p{
		font-size: 1em;
		width: 9em;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;

	}
	// Special styles for HTML logo
	#html{
		height: 5em;
		width: 5em;
		margin-top: .25em;
	}

	#easy-custom{

		margin-top: 1em;
		margin-right: .5em;
	}
}

// Small Screen
@media screen and (max-width: 39.9375em)  {
	#about{
		height: 30em;
	}


}

// -------------------------- Recent Projects section --------------


#recent-projects{
	position: absolute;

	height: 33em;
	width: 100%;
	background-color: #5EBDEB;
}
#recent-header-div{
	margin-top: 2em; 
}
#recent-header{
	position: relative;
	margin-top: 2em;
	@include white-header(13.75em);
}
#recentP{
	text-align: center;
	color: #fff;
	font-size: .85em;
}

 // Recent header span lines
#recent-header.lined-header span:before,
#recent-header.lined-header span:after {
 	@include span-settings-white;
}
#recent-img-div{
	
}
#recent-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

// -------------------------------- Recent Projects Media Queries-------------
// Medium Screen
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

	#recent-projects{
		position: absolute;
		
		height: 33em;
		width: 100%;
		background-color: #5EBDEB;
	}
		
}



// Small Screen
@media screen and (max-width: 39.9375em)  {
	


}
	