// Variables
$blue-accent: #1DA1E1;

// Blue Header
@mixin blue-header($width){
		margin-top: 2em;
		width: $width;
		border: 2px solid $blue-accent;
		border-radius: .15em;
		color: $blue-accent;
		letter-spacing: .2em;
		font-weight: 600;
		text-align: center;
}
// White Header
@mixin white-header($width){
		margin-top: 2em;
		width: $width;
		border: 2px solid #fff;
		border-radius: .15em;
		color: #fff;
		letter-spacing: .2em;
		font-weight: 600;
		text-align: center;
}
// Blue span Lines
@mixin span-settings-blue{
		content: "";
		position: absolute;
	  	height: 5px;
	  	margin-top: .5em;
	  	border-bottom: 3px solid $blue-accent;
	  	top: 0;
	  	width: 1.5em;
}
// White Span Lines
@mixin span-settings-white{
		content: "";
		position: absolute;
	  	height: 5px;
	  	margin-top: .5em;
	  	border-bottom: 3px solid #fff;
	  	top: 0;
	  	width: 1.5em;
}

// About cotainer
#about{
	text-align: center;
	overflow: hidden;
}
//About Header
#about-header{
	@include blue-header(8em);

}
#about-header.lined-header span:before,
#about-header.lined-header span:after {
	@include span-settings-blue;
}

//http://www.flaticon.com/packs/web-design-set <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

// About Container
#about-container{
	width: 100%;
}
// About Row
#about-row{
	overflow: hidden;
	width: 95%;
	margin: 2em auto;
}
.about-squares{
	text-align: center;
		border: .15em solid #E1E1E1;
		margin: 1em;
}

// Image containers for Grey circles
.about-img-container{
	width: 10em;
  	height: 10em;
  	background-color: #ddd;
  	border-radius: 6em;
  	margin: 0 auto;
  

}
// Icons position and size
.about-img{
	width: 6em;
  	height: 6em;
  	margin: 2em auto 0 auto;
}
// Descriptions
.about-p{
	color: #4D585C;
	font-size: 1.2em;
}
// Special styles for HTML logo
#html{
	height: 8em;
	width: 8em;
	margin-top: .75em;
}

// -------------------------- About Section Media Queries-------------

// Medium Screen
@media screen  and (max-width: 63.9375em) {
	
	
// 	// Callouts/ Individual squares
// 	.callout{
// 		height: 10em;
// 		width: 11em;
// 		margin-bottom: .1em;
// 		padding: .5em;

// 	}
// 	// Image containers for Grey circles
// 	.img-container{
// 		width: 5.5em;
// 	  	height: 5.5em;
// 	}
// 	// Icons position and size
// 	.features-row{
// 		width: 4em;
// 	  	height: 4em;
// 	  	margin: .75em  0 ;
// 	}
// 	// Descriptions
// 	.callout-p{
// 		font-size: 1em;
// 		width: 9em;
// 		margin-top: 1em;
// 		margin-left: auto;
// 		margin-right: auto;

// 	}
// 	// Special styles for HTML logo
// 	#html{
// 		height: 5em;
// 		width: 5em;
// 		margin-top: .25em;
// 	}

// 	#easy-custom{

// 		margin-top: 1em;
// 		margin-right: .5em;
// 	}
 }

// Small Screen
@media screen and (max-width: 39.9375em)  {
}

// -------------------------- Recent Projects section --------------


#recent-projects{
	overflow: hidden;
	width: 100%;
	background-color: #5EBDEB;
	margin-top: 2em;
	padding: 1em;
}
#recent-header{
	position: relative;
	@include white-header(13.75em);
}

 // Recent header span lines
#recent-header.lined-header span:before,
#recent-header.lined-header span:after {
 	@include span-settings-white;
}

#recent-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    height: 35em;
    width: 45em;
}

// -------------------------------- Recent Projects Media Queries-------------
// Medium Screen
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	#recent-img{
		height: 25em;
    	width: 30em;
	}
}

// Small Screen
@media screen and (max-width: 39.9375em)  {
	#recent-img{
		height: 20em;
    	width: 25em;
	}

}
	