 // div{
 //            margin-top: 60px;
 //        }
 //         span:after{
 //            content: '';
 //            display: inline-block;  
 //            position: relative;
 //            height: 5px;
           
 //            border-bottom: 3px solid #000;
 //            top:0;
 //            width: 1.5em;
 //           text-align: center;
 //       } 
 //       img{
 //        margin: 0 auto;
 //        margin-bottom: 30px;
 //        border-radius: 50px;
 //       }  
 //       p{
 //        margin: 20px;
 //       }
.team-slider{
    width:600px; 
    height:500px; 
    margin: auto;
}

.team-img-div{
    margin-top:100px; 
    width:100%; 
    text-align: center; 
}