
// About cotainer
#about{
	text-align: center;
	overflow: hidden;
}
//About Header
#about-header{
	@include blue-header(8em);

}
#about-header.lined-header span:before,
#about-header.lined-header span:after {
	@include span-settings-blue;
}

//http://www.flaticon.com/packs/web-design-set <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

// About container: holds squares
#about-container{
	margin: 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	
}

.about-squares{
	border: 2px solid #E1E1E1;
	margin: 0 15px 20px 15px;
	padding: 20px;


}
// Icons position and size
.about-img{
	width: 200px;
  	height: 200px;
	margin-top: 1em;
}
// Descriptions
.about-p{
	color: #4D585C;
	font-size: 1.2em;
	margin: 1.75em auto;
}
// -------------------------- About Section Media Queries-------------

// Medium Screen
@media screen and (max-width: 1020px) {
	
	.about-squares{
		margin: 0 15px 20px 15px;
		padding: 10px;
		height: 200px;
	
	}
	// Icons position and size
	.about-img{
		width: 100px;
		height: 100px;
		margin-top: 1em;
	}
	// Descriptions
	.about-p{
		font-size: 16px;
		margin: 10px auto;
		width: 125px;
	}
 }

// Small Screen
@media screen and (max-width: 768px)  {
	
	.about-squares{
		margin: 0 5px 10px 5px;
		padding: 5px;
		height: 200px;
	
	}
	// Icons position and size
	.about-img{
		width: 100px;
		height: 100px;
		margin-top: 1em;
	}
	// Descriptions
	.about-p{
		font-size: 16px;
		margin: 10px auto;
		width: 125px;
	}
}

// -------------------------- Recent Projects section --------------


#recent-projects{
	overflow: hidden;
	width: 100%;
	background-color: #5EBDEB;
	padding: 1em;
}
#recent-header{
	position: relative;
	@include white-header(12.75em);
}

 // Recent header span lines
#recent-header.lined-header span:before,
#recent-header.lined-header span:after {
 	@include span-settings-white;
}

#recent-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

// -------------------------------- Recent Projects Media Queries-------------
// Medium Screen
@media screen and (max-width: 768) {
}

// // Small Screen
// @media screen and (max-width: 768px) {
// 	#recent-img{
// 		height: 20em;
//     	width: 25em;
// 	}

// }
