// This stylesheet also contains the footer styles

// Blue accent for date block
$blue-accent: #1DA1E1;
$contact-grey: #B1B1B1;
// White Span Lines
@mixin span-settings-white {
	content: "";
	position: absolute;
	height: 5px;
	margin-top: 0.5em;
	border-bottom: 3px solid #fff;
	top: 0;
	width: 1.5em;
}
// White Header
@mixin white-header($width) {
	margin-top: 2em;
	width: $width;
	border: 2px solid #fff;
	border-radius: 0.15em;
	color: #fff;
	letter-spacing: 0.2em;
	font-weight: 600;
	text-align: center;
}
// Header Paragraphs
@mixin header-p {
	font-size: 0.85em;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-align: center;
}
// Grey Load more button
@mixin grey-button {
	outline: none;
	border-radius: 0.25em;
	font-weight: bold;
	color: darken(#7B8896, 5%);
	background-color: darken(#F2F2F2, 8%);
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

// Contact Div
#contact {
	padding-top: 1em;
	background-color: #333B48;
	overflow: hidden;
	width: 100%;
}
#contact-header {
	@include white-header(10em);
}
// Text under header
#contact-header-p {
	@include header-p;
	color: #fff;
}
//Contact Header Span
#contact-header.lined-header span:after,
#contact-header.lined-header span:before {
	@include span-settings-white;
}
// Contact form  container
#contact-container {
	width: 100%;
	padding-bottom: 2em;
	border-bottom: 0.1em solid $contact-grey;
}
// Contact Form
#contact-form {}
// Input Divs
.form-group {
	position: relative;
	margin-bottom: 1em;
}
// Input styles
.contact-input {
	background-color: #3E4755;
	color: $contact-grey;
	margin: 0;
	padding-left: 30px;
	font-size: 0.85em;
	font-weight: normal;
	border-color: #56606F;
}
// Input focus
.contact-input:focus {
	background-color: #3E4755;
	color: #ddd;
	[placeholder]:focus::-webkit-input-placeholder {
	  transition: opacity 0.5s 0.5s ease;
	  opacity: 0;
	}

}
//Icon Position and appearance
.input-group-addon {
	padding: 0.5em;
	font-size: 1em;
	font-weight: lighter;
	color: $contact-grey;
	position: absolute;
	width: 1em;
	height: 1em;
}

#message-textarea {
	padding-top: 0.5em;
	height: 9em;
}
#send-message {
	width: 100%;
	text-align: left;
}
#message-icon {
	color: #fff;
	padding-left: 90%;
}
#google-map {
	height: 18em;
	width: 100%;
}
// Contact Info at bottom
#contact-line{
	height: 20em;
	padding-top: 3em;
	color: $contact-grey;
	font-size: .85em;
	font-weight: 200;
	margin: 0 auto;
	width: 100%;

}
#contact-line-div{
	height: 100%;
	width: 100%;
	margin-left: 5%;
	margin-right: auto;
}
.contact-info{
	height: 6em;
	border-right: 0.1em solid $contact-grey;
	min-width: 15em;
	max-width: 25em;
}

// Contact header that's underlined
.contact-info-header{
	color:#fff;
}
// Contact Logo
#contact-logo{
	width: 7em;
}
#contact-logo img{
	height: 4em;
	width: 4em;
	float: left;
	background-color:  #333B48 ;
}
#logo-p{
	font-size: 2em;
	margin-left:3em;
}
// Blue circle behind icon
.blue-circle{
	position: static;
	height: 5em;
	width: 5em;
	border-radius: 3em;
	background-color: $blue-accent;
	float: left;
	margin-right: 1em;
	margin-left: 1em;
	text-align: center;
	span{
		font-size: 1.5em;
		color: #fff;
		text-align: center;
		margin-top: 1.2em;
	}
}
.contact-info-p{
	display: block;

	font-size: 1em;
    height: 6em;
}
#contact-email{
	border: none;
}
// ------------------ Media Queries -------------------
// Medium Screen
@media screen  and (max-width: 63.9375em) {
	.blue-circle{
		margin-right: 2em;
	}
	div#contact-email.column.contact-info{
		margin-top: -3em !important;
	}
}

 // Small Screen
@media screen and (max-width: 39.9375em)  {
	.contact-info{
		border-right: none;
		margin-left: 0em;
	}
	.blue-circle{
		margin-right: 2em;

	}

	div#contact-email.column.contact-info{
		margin-top: 0 !important;
	}

}

// Footer styles
#footer{
	height: 3em;
	padding-top: 1em;
	background-color: #212832;
	text-align: center;
	color: #fff;

	a{
		color:#FFAB31;
		}

}
