// Blue accent across whole page and Plan 2 color
$blue-accent: #1DA1E1;
$plan-1-color: #9FA6AE;
$plan-3-color: #EB758B;
$plan-4-color: #C183D6;
@mixin blue-header($width) {
    margin-top: 2em;
    width: $width;
    border: 2px solid $blue-accent;
    border-radius: 0.15em;
    color: $blue-accent;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-align: center;
}
@mixin span-settings-blue {
    content: "";
    position: absolute;
    height: 5px;
    margin-top: 0.5em;
    border-bottom: 3px solid $blue-accent;
    top: 0;
    width: 1.5em;
}
// Header Paragraphs
@mixin header-p {
    font-size: 0.85em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    text-align: center;
}
// Grey Buttons
@mixin grey-button {
    margin-top: 1.25em;
    margin-right: 0.2em;
    outline: none;
    border-radius: 0.25em;
    font-weight: bold;
    color: darken(#7B8896, 5%);
    background-color: darken(#F2F2F2, 8%);
}
// Plans container
#our-plans {
    margin-top: 2em;
    margin-bottom: 5em;
    overflow: hidden;
}
// Plans Header
#plans-header {
    @include blue-header(8em);
}
//Plans Header Span
#plans-header.lined-header span:after,
#plans-header.lined-header span:before {
    @include span-settings-blue;
}
// Plan Block
.plan-blocks {
    border: 0.15em solid #E1E1E1;
    margin-bottom: 2em;
    text-align: center;
}
// Plan Title
.plan-title {
    height: 3em;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 0.75em;
    color: #fff;
}
// Plan Details
.plan-details {
    height: 16em;
    padding-top: 2em;
    border-bottom: 0.10em solid #E1E1E1;
}
// Plan Details Pragraph
.plan-details p {
    line-height: 3em;
    font-size: 0.85em;
}
// Plan Price
.price-div {
    width: 100%;
    height: 6em;
    border-bottom: 0.10em solid #E1E1E1;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}
// Plan Button Div
.plan-btn-div {
    height: 5em;

}
// Plan Button
.plan-btn {
    @include grey-button;
}
.plan-blocks.plan-selected {
    background-color: #647687;
    color: #fff;
    border: 0.10em solid #E1E1E1;
    .plan-details,
    .price-div {
        border-bottom: 0.10em solid darken(#B4B4B4, 15%);
    }
}
.plan-selected-btn {
    color: #fff;
    background-color: $blue-accent;
}
// Plan price styles and position
@mixin plan-price-style {
    font-size: 3em;
    width: 2em;
    float: left;
    margin-left: 1em;
}
// Month square style and position
@mixin plan-month {
    width: 5em;
    height: 2em;
    font-size: 0.85em;
    padding: 0.25em;
    color: #fff;
    margin-top: 2em;
    margin-right: auto;
    float: left;
}
// Plan Block 1
#plan-1 {
    background-color: $plan-1-color;
}
// Plan 1 Price color
#plan-1-price {
    @include plan-price-style;
    color: $plan-1-color;
}
// Month text position and background color
#plan-1-month {
    @include plan-month;
    background-color: $plan-1-color;
}
// Plan Block 2
#plan-2 {
    background-color: $blue-accent;
}
// Plan 2 Price color
#plan-2-price {
    @include plan-price-style;
}
// Month text position and background color
#plan-2-month {
    @include plan-month;
    background-color: $blue-accent;
}
// Plan Block 3
#plan-3 {
    background-color: $plan-3-color;
}
// Plan 3 Price color
#plan-3-price {
    @include plan-price-style;
    color: $plan-3-color;
}
// Month text position and background color
#plan-3-month {
    @include plan-month;
    background-color: $plan-3-color;
}
// Plan Block 4
#plan-4 {
    background-color: $plan-4-color;
}
// Plan 4 Price color
#plan-4-price {
    @include plan-price-style;
    color: $plan-4-color;
}
// Month text position and background color
#plan-4-month {
    @include plan-month;
    background-color: $plan-4-color;
}

// Medium Screen
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    // Plan price styles and position
    #plan-1-price, #plan-2-price, #plan-3-price, #plan-4-price {
        margin-left:30%;
    }

}
// Small Screen
@media screen and (max-width: 39.9375em)  {
    #plan-1-price, #plan-2-price, #plan-3-price, #plan-4-price {
        margin-left:33%;
    }
}
