#see-our-work{
	background-color:#657688;
	overflow: hidden;
	width: 100%;
	padding-bottom: 2em;
}

#work-header{
	@include white-header(11em);
}
#work-header-p{
	@include header-p;
	color: #fff;
}

//Team Header Span
#work-header.lined-header span:before,
 #work-header.lined-header span:after {
    @include span-settings-white;
}
#filter-btns{
	text-align: center;
}
.work-btns{
	@include button-mixin;
	background-color: #eee;
	color: #000;
	font-weight: 600;
	padding: .85em;
}
.work-btns.selected{
	@include active-button;
	color: #fff;

}
#work-img-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 20px auto;
	
}
.work-img-div{ 
	margin: 20px 20px 0px;
}

.work-img {
	width: 20em ;
	height: 12.5em;
	margin-bottom: 1em;
	object-fit: cover;
	}

// Medium Screen
@media screen and (max-width: 992px)  {
	.work-img {
		width: 15em ;
		height: 8.5em;
		}
		.work-img-div{ 
			margin: 10px 10px 0px;
		}
	.work-btns.medium.button{
		height: 3em !important;
		border-radius: .25em;
		padding-top: .95em;
	}
}

// Small Screen
@media screen and (max-width: 768px)  {
	
	.work-btns.medium.button{
		height: 3em !important;
		padding-top: 0em;
		padding-bottom: 0;
		border-radius: .25em;
	}

}
