#see-our-work{
	background-color:#657688;
	overflow: hidden;
	width: 100%;
	padding-bottom: 2em;
}

#work-header{
	@include white-header(12em);
}
#work-header-p{
	@include header-p;
	color: #fff;
}

//Team Header Span
#work-header.lined-header span:before,
 #work-header.lined-header span:after {
    @include span-settings-white;
}
#filter-btns{
	text-align: center;
}
.work-btns{
	@include button-mixin;
	background-color: #eee;
	color: #000;
	font-weight: 600;
	padding: .85em;
}
.work-btns.selected{
	@include active-button;
	color: #fff;

}
#work-img-div{
	margin-top: 2em;
}
.work-img{
	display: inline-block;
	width: 20em ;
	height: 12.5em;
	margin-bottom: 1em;
	object-fit: cover;

}


// Medium Screen
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.work-btns.medium.button{
		height: 3em !important;
		border-radius: .25em;
		padding-top: .95em;
	}
}

// Small Screen
@media screen and (max-width: 39.9375em)  {

	.work-btns.medium.button{
		height: 3em !important;
		padding-top: 0em;
		padding-bottom: 0;
		border-radius: .25em;
	}

}
