$blue-accent: #1DA1E1;
@mixin blue-header($width){
    margin-top: 2em;
    width: $width;
    border: 2px solid $blue-accent;
    border-radius: .15em;
    color: $blue-accent;
    letter-spacing: .2em;
    font-weight: 600;
    text-align: center;
}
@mixin span-settings-blue{
    content: "";
    position: absolute;
      height: 5px;
      margin-top: .5em;
      border-bottom: 3px solid $blue-accent;
      top: 0;
      width: 1.5em;
}
// Header Paragraphs
@mixin header-p{
  font-size: .85em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  text-align: center;
}
@mixin service-circles{
	position: static;
	float: left;
	margin: .5em .5em 3em .5em;
	
	height: 4em;
	width: 4em;
}
// Services container
#our-services{
	overflow: hidden;
}
// Services Header
#services-header{
	@include blue-header(11em);
}
//Services Header Span
#services-header.lined-header span:before,
#services-header.lined-header span:after {
    @include span-settings-blue;
}

.service-titles{
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 0;

}
.service-descp{
	display: block;
	font-size: .7em;
	min-width: 20em;
	height: 6em;

}
#service-blocks{
	width: 45em;
	float: right;
	margin-top: 5em;
}
// iPhone image 
#iphone-side{
	float: left;
	margin-left: 2em;
}
#iphone-img{
	width: 20em;
}
// Trends img
#trends{
	@include service-circles;
}
// Responsive img
#responsive{
	@include service-circles;	
}
// Customize img
#ez-customize{
	@include service-circles;
}
// Mulit Layouts img
#multi-layouts{
	@include service-circles;
}
// Retina img
#retina{
	@include service-circles;
}
// Online support img
#support{
	@include service-circles;
}
// ------------------ Media Queries -------------------
// Medium Screen
@media screen  and (max-width: 63.9375em) {
	#service-blocks{
		width: 100%;
		margin: 4em auto 0 auto;
	}
	#iphone-img{
		display: none;
	}
}

 // Small Screen
@media screen and (max-width: 39.9375em)  {
	#service-container{
		width: 100%;
	}
	#service-blocks{
		
		margin-top: 1em;
		margin: 0 auto;
	}
	#iphone-img{
		display: none;
	}
	.service-descp{
		width: 95%;
		height: 4em;

	}

}