
// Services container
#our-services{
	overflow: hidden;
}
// Services Header
#services-header{
	@include blue-header(10em);
}
//Services Header Span
#services-header.lined-header span:before,
#services-header.lined-header span:after {
    @include span-settings-blue;
}
#service-container{
	display: flex;
	justify-content: space-evenly;

}
.service-titles{
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 0;

}
.service-descp{
	display: block;
	font-size: .7em;
	min-width: 20em;
	height: 6em;

}
#service-blocks{
	width: 600px;
	margin: 10px 0;
}
// iPhone image 
#iphone-side{
	margin-left: 2em;
}
#iphone-img{
	width: 20em;
}
.service-img{
		float: left;
		margin-right: 10px;
		height: 4em;
		width: 4em;
}
// ------------------ Media Queries -------------------
// Medium Screen
@media screen and (max-width: 992px) {
	#service-blocks{
		margin: 4em auto 0 auto;
	}
	#iphone-img{
		display: none;
	}
}

 // Small Screen
 @media screen and (max-width: 768px) {
	#services-header{
		@include blue-header(11em);
	}

	#service-blocks{
		
		margin-top: 1em;
		margin: 0 auto;
	}
	#iphone-img{
		display: none;
	}
	.service-descp{
		width: 95%;
		height: 4em;

	}

}
@media screen and (max-width: 501px) {

}