
// Slider container
#content{
	margin: 0;
    padding: 0em;
    width: 100%;
    background-color: #333B48;
}

div.slick-slide{
	width: 100%;
	padding-top: 100px;
	text-align: center;
	margin: 0;
	outline: none;
}
.top-slider.slick-initialized.slick-slider.slick-dotted, .slick-list, .slides.slick-slide.slick-current.slick-active , .slick-track{
	height: 400px;
}

// Next Button
.slick-next, .slick-next:focus, .slick-next:hover{
	position: absolute;
    right: 10px;
    height: 40px;
    width: 40px;
}
//Previous Button
.slick-prev, .slick-prev:focus, .slick-prev:hover{
	position: absolute;
    left: 10px;
    height: 40px;
    width: 40px;
    z-index: 1;
}

// Slide Disabled Buttons
.slick-disabled{
	opacity: 0.5;
}
// Slider dots Position
.slick-dots{
	position: relative;
	float: bottom;
	bottom: 2.5em;
}
// Dot color
.slick-dots li button:before,
.slick-dots li.slick-active button:before{
	color: #FFFFFF;
}
// Slide size
.slides{
	height: 42em !important;
	padding: 0;
}
#slide1{
	background: url('../img/top-slides/mount1.jpeg')no-repeat center;
	background-size: cover;
	height: 400px;
}
#slide1-contents{
	color: #fff;
}

.slide1-btn{
	background-color: $topNavColor;
}
button.slide1-btn.medium.button{
		height: 3em !important;
		width: 6em;
		padding: 0;
		border-radius: .25em;
	}
.slide1-btn:hover, .slide1-btn:active{
	outline: none;
	border-radius: 0;
}
#slide2{
	background: url('../img/top-slides/mount2.jpg')no-repeat center;
	background-size: cover;
}
#slide3{
	background: url('../img/top-slides/mount3.jpg') no-repeat center;
	background-size: cover;
}
//Icons made by  from Flaticon is licensed by http://creativecommons.org

// Medium Screen
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.slide1-btn{
		height: 2em;
		width: 2em;
	}
}

// Small Screen
@media screen and (max-width: 39.9375em)  {

	.slick-dots{
		padding-top: 3em;
		margin-bottom: 2em;
	}
	button.slide1-btn.medium.button{
		height: 3em !important;
		width: 6em;
		padding: 0;
		border-radius: .25em;


	}
}
