
.no-js .title-bar {
    display: none;
}

.sticky{
	z-index: 10000;
	position: fixed;
	width: 100%;
}
// Top Bar
.top-bar{
	height: 6em;
	padding-right: 5em;
	background-color: $topNavColor;
	width: 100%;

}
// Top bar Link color
.menu,.title-bar{
	background-color: $topNavColor!important;
}
//Top Bar Left
#logo{
	display: block;
	width: 3em;
	margin: .5em .25em .5em 1em;
}
//Top Button stylings to override foundation stylings
.menu-btn{
	background-color: $topNavColor;
	@include button-mixin;

}
// active button styling
.active,
.button:hover{
	@include active-button;
}

// Medium Screen
@media screen and (max-width: 992px) {


// 	#logo{
// 		display: none;
// 	}
	.top-bar{
		padding-right: 0px;
	}
	#menu-btns-container{
		display: flex;
		justify-content: center;
	}
// 	#top-menu{
// 		padding: 0;
// 		height: 0;

// 	}
// 	.menu li {
// 		display: block !important;
// 		width: 20em;
// 		float: left;
// 	}
// 	.medium.button{
// 		margin-top: 0;
// 		margin-right: 0;
// 		padding-top :.5m;
// 		padding-bottom: .5em;


// 	}

// 	// button styling
// 	.medium.button,
// 	.medium.button.active,
// 	.button:hover{
// 		border-radius: 0;

// 	}
}

// // Small Screen 
@media screen and (max-width: 768px)  {

	.title-bar{
		padding: 10px;
	}
	#title{
		padding-left: 10px;
	}
	#content{
		display: none;
	}
	#logo{
		display: none;
	}
	#top-menu{
		padding-right: 2em;
	}
	#menu-btns-container{
		padding: 5px;
		margin: 0  0 0 -10px;
	}

	// .is-drilldown{
	// 	background-color: $topNavColor;
	// 	margin-left: 0;
	// }

	// .medium.button{
	// 	margin-top: 0;
	// 	margin-right: 0;
	// 	padding-top: 5em;
	// 	padding-bottom: 2.5em;
	// }
	// button styling
	.medium.button,
	.medium.button.active,
	.button:hover{
		border-radius: 0;
	}
}
