// Variables
$blue-accent: #1DA1E1;
$contact-grey: #B1B1B1;
$grey-accent: #6d6d6e;
// top nav 
$topNavColor: #333B48;

// Blue Header
@mixin blue-header($width){
    margin: 2em auto;
    width: $width;
    border: 2px solid $blue-accent;
    border-radius: .15em;
    color: $blue-accent;
    letter-spacing: .2em;
    font-weight: 600;
    text-align: center;
}
// White Header
@mixin white-header($width){
    margin: 2em auto;
    width: $width;
    border: 2px solid #fff;
    border-radius: .15em;
    color: #fff;
    letter-spacing: .2em;
    font-weight: 600;
    text-align: center;
}
// Blue span Lines
@mixin span-settings-blue{
    content: "";
    position: absolute;
    height: 5px;
    margin-top: .5em;
    border-bottom: 3px solid $blue-accent;
    top: 0;
    width: 1.5em;
}
// White Span Lines
@mixin span-settings-white {
		content: "";
		position: absolute;
	  	height: 5px;
	  	margin-top: .5em;
	  	border-bottom: 3px solid #fff;
	  	top: 0;
	  	width: 1.5em;
}

// Header Paragraphs
@mixin header-p {
	font-size: 0.85em;
	margin-top: 1.5em;
	margin-bottom: 2em;
	text-align: center;
}
// Grey Load more button
@mixin grey-button {
	outline: none;
	border-radius: 0.25em;
	font-weight: bold;
	color: darken(#7B8896, 5%);
	background-color: darken(#F2F2F2, 8%);
}

// Buttons
@mixin button-mixin{
	margin-right: .2em;
	outline: none;
	border-radius: .25em;
}
@mixin active-button{
	background-color: #5EBDEB;
}